n8n-flow.json
{
  "name": "Woo Order Completed Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "woocommerce-order-completed"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 1\\nCuerpo: Bienvenida Emocional\"}"
      },
      "name": "WhatsApp Día 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.mailprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"email\\\"]}}\", \"subject\": \"D\\u00eda 1: Bienvenida Emocional\", \"body\": \"Cuerpo: Bienvenida Emocional\"}"
      },
      "name": "Email Día 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 1-2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 2\\nCuerpo: Autorregalo y Ritmo\"}"
      },
      "name": "WhatsApp Día 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 2-3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 3\\nCuerpo: Sala de Tareas\"}"
      },
      "name": "WhatsApp Día 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.mailprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"email\\\"]}}\", \"subject\": \"D\\u00eda 3: Sala de Tareas\", \"body\": \"Cuerpo: Sala de Tareas\"}"
      },
      "name": "Email Día 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 3-4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 4\\nCuerpo: Tip Constancia y Voz Alta\"}"
      },
      "name": "WhatsApp Día 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 4-5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1800,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 5\\nCuerpo: Progreso Pelda\\u00f1o a Pelda\\u00f1o\"}"
      },
      "name": "WhatsApp Día 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.mailprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"email\\\"]}}\", \"subject\": \"D\\u00eda 5: Progreso Pelda\\u00f1o a Pelda\\u00f1o\", \"body\": \"Cuerpo: Progreso Pelda\\u00f1o a Pelda\\u00f1o\"}"
      },
      "name": "Email Día 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 5-6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2400,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 6\\nCuerpo: Marcar Respuestas y Cerebro\"}"
      },
      "name": "WhatsApp Día 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2600,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 6-7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2800,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 7\\nCuerpo: Aprovechar Trainings\"}"
      },
      "name": "WhatsApp Día 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3000,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 7-8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 8\\nCuerpo: Ebook para Viajar\"}"
      },
      "name": "WhatsApp Día 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3400,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 8-9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3600,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 9\\nCuerpo: Sala de Di\\u00e1logos\"}"
      },
      "name": "WhatsApp Día 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3800,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.mailprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"email\\\"]}}\", \"subject\": \"D\\u00eda 9: Sala de Di\\u00e1logos\", \"body\": \"Cuerpo: Sala de Di\\u00e1logos\"}"
      },
      "name": "Email Día 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4000,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 9-10",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 10\\nCuerpo: Explorar Sala de Trainings\"}"
      },
      "name": "WhatsApp Día 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4400,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 10-11",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4600,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 11\\nCuerpo: Revisar Perfil\"}"
      },
      "name": "WhatsApp Día 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4800,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 11-12",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5000,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 12\\nCuerpo: Recordar Prop\\u00f3sito\"}"
      },
      "name": "WhatsApp Día 12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        5200,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 12-13",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5400,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 13\\nCuerpo: Historia Real\"}"
      },
      "name": "WhatsApp Día 13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        5600,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 13-14",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5800,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 14\\nCuerpo: Fase 1 Superada\"}"
      },
      "name": "WhatsApp Día 14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        6000,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.mailprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"email\\\"]}}\", \"subject\": \"D\\u00eda 14: Fase 1 Superada\", \"body\": \"Cuerpo: Fase 1 Superada\"}"
      },
      "name": "Email Día 14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        6200,
        0
      ]
    },
    {
      "parameters": {
        "value": 1,
        "unit": "days"
      },
      "name": "Wait Día 14-15",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        6400,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsappprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"phone\\\"]}}\", \"message\": \"T\\u00edtulo: D\\u00eda 15\\nCuerpo: Encuesta NPS\"}"
      },
      "name": "WhatsApp Día 15",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        6600,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.mailprovider.com/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\": \"={{$json[\\\"billing\\\"][\\\"email\\\"]}}\", \"subject\": \"D\\u00eda 15: Encuesta NPS\", \"body\": \"Cuerpo: Encuesta NPS\"}"
      },
      "name": "Email Día 15",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        6800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "WhatsApp Día 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 1": {
      "main": [
        [
          {
            "node": "Email Día 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Día 1": {
      "main": [
        [
          {
            "node": "Wait Día 1-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 1-2": {
      "main": [
        [
          {
            "node": "WhatsApp Día 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 2": {
      "main": [
        [
          {
            "node": "Wait Día 2-3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 2-3": {
      "main": [
        [
          {
            "node": "WhatsApp Día 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 3": {
      "main": [
        [
          {
            "node": "Email Día 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Día 3": {
      "main": [
        [
          {
            "node": "Wait Día 3-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 3-4": {
      "main": [
        [
          {
            "node": "WhatsApp Día 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 4": {
      "main": [
        [
          {
            "node": "Wait Día 4-5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 4-5": {
      "main": [
        [
          {
            "node": "WhatsApp Día 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 5": {
      "main": [
        [
          {
            "node": "Email Día 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Día 5": {
      "main": [
        [
          {
            "node": "Wait Día 5-6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 5-6": {
      "main": [
        [
          {
            "node": "WhatsApp Día 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 6": {
      "main": [
        [
          {
            "node": "Wait Día 6-7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 6-7": {
      "main": [
        [
          {
            "node": "WhatsApp Día 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 7": {
      "main": [
        [
          {
            "node": "Wait Día 7-8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 7-8": {
      "main": [
        [
          {
            "node": "WhatsApp Día 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 8": {
      "main": [
        [
          {
            "node": "Wait Día 8-9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 8-9": {
      "main": [
        [
          {
            "node": "WhatsApp Día 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 9": {
      "main": [
        [
          {
            "node": "Email Día 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Día 9": {
      "main": [
        [
          {
            "node": "Wait Día 9-10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 9-10": {
      "main": [
        [
          {
            "node": "WhatsApp Día 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 10": {
      "main": [
        [
          {
            "node": "Wait Día 10-11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 10-11": {
      "main": [
        [
          {
            "node": "WhatsApp Día 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 11": {
      "main": [
        [
          {
            "node": "Wait Día 11-12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 11-12": {
      "main": [
        [
          {
            "node": "WhatsApp Día 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 12": {
      "main": [
        [
          {
            "node": "Wait Día 12-13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 12-13": {
      "main": [
        [
          {
            "node": "WhatsApp Día 13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 13": {
      "main": [
        [
          {
            "node": "Wait Día 13-14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 13-14": {
      "main": [
        [
          {
            "node": "WhatsApp Día 14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 14": {
      "main": [
        [
          {
            "node": "Email Día 14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Día 14": {
      "main": [
        [
          {
            "node": "Wait Día 14-15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Día 14-15": {
      "main": [
        [
          {
            "node": "WhatsApp Día 15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Día 15": {
      "main": [
        [
          {
            "node": "Email Día 15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
